<div class="container">
	<div class="jumbotron center">
		<h1>Pinteresting</h1>
		<p class="lead">
			<%= link_to "Log In", "#", class: 'btn btn-default btn-default btn-lg' %>
			<%= link_to "Sign Up", "#", class: 'btn btn-primary btn-default btn-lg' %>
		</p>

	<div>
</div>
